@import 'typography';
@import 'variables-dark';

@import 'oldstyle';
@import 'report';
@import 'kmom';

.main {
    padding: 0 0 4em;
    background-color: $background-color-primary;
}

.header {
    height: 10em;
    border: 0;
    background-color: $background-color-secondary;
}

.footer {
    background-color: $background-color-secondary;
    color: $font-color-secondary;
}

.fab {
    margin-left: 0.5em;
}

.flash-img {
    height: 7em;
    float: right;
}

p {
    color: $font-color-primary;
}

h1 {
    color: $font-color-primary;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.frame-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Navbar */
.nav {
    a {
        color: $font-color-secondary;
    }

    .active a,
    .a:hover {
        color: $font-color-third;
    }   
}

.title * {
    color: $font-color-secondary;
}


/* Home-page */

.home-pic {
    height: 20em;
    width: 20em;
    float: right;
    margin-left: 2em;
}

/* Analysis */

.analysis-h2 {
    color: $font-color-primary;
}

.analysis-h3 {
    color: $font-color-primary;
}

.webpage-div {
    border: 1px solid #000;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.analysis-link a {
    color: $font-color-secondary !important;
}

/* Footer */

.icon-color {
    color: $font-color-secondary;
}

.icon-margin {
    margin-left: 0.5em;
}

.footer-text {
    color: $font-color-secondary !important;
}

.home-pic {
    filter: grayscale(40%);
}

.headline-margin {
    margin-top: 1em;
}

.list-box {
    margin-top: 2em;
}
